.navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: black !important;
  transition: background-color 0.3s ease;
}

